* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
    font-variant: small-caps;
    /*cool property to make everything cap but making
    the caret look larger because it's a smaller version.*/
}

body {
    background: #FF8066;
    /*still debating what color pallete to go with*/
}

h1 {
    color: #845EC2;
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-shadow: 2px 2px white;
}

.illustration {
    height: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

input {
    caret-color: red;
}

.wrapper {
    height: 525px;
    width: 360px;
    color: white;
    border-radius: 50px;
    background: linear-gradient(145deg, #7755af, #272639);
    box-shadow: 24px 28px 67px #272639a5,
        -34px -34px 67px #272639;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: -30px;
    padding-bottom: 30px;
}

.bill {
    padding-top: -20px;
}

.bill,
.title {
    padding-bottom: 10px;
    font-weight: bold;
}

.inputContainer,
.container {
    padding-bottom: 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
}