* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
    font-variant: small-caps;
    /*cool property to make everything cap but making
    the caret look larger because it's a smaller version.*/
}

body {
    background: #FF8066;
    /*still debating what color pallete to go with*/
}

h1 {
    color: #353959;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-shadow: 2px 2px white;
}

.illustration {
    height: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

input {
    caret-color: red;
}

/*to hide the up/down arrows on hover over inputs*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper {
    height: 525px;
    width: 360px;
    color: white;
    border-radius: 1.2rem;
    background: linear-gradient(145deg, #7755af, #272639);
    box-shadow: 24px 28px 67px #272639a5,
        -34px -34px 67px #272639;
    margin: auto;

}

#topContainer {
    padding: 2rem;
}

/*bill total container - top*/
.container {
    padding: 2rem;
}

/*controls the increase and decrease of people - bottom container*/
.container-bottom {
    padding-right: 50px;


}

/* ORIGINAL CODE FOR THE BOTTOM CONTAINERS
.container-bottom,
.totalContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

*/

.container-bottom,
.totalContainer {
    display: inline-block;
    padding-top: 60px;
}

/*controls the total per person component*/

.totalContainer {
    justify-content: flex-end;

}

/* controls the titling of all components */

.title {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

/*amt of people number & total per person*/
.split-amt,
.total {
    font-size: 2rem;
    font-weight: lighter;
}



.inputContainer {
    background: #353959;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
}

#billTotalInput,
#tipInput {
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
}

.buttonContainer {
    background: #8990ec;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

.controls {
    display: flex;
    align-items: center;
}

.splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    background: none;
    border: none;
}

.total {
    font-weight: lighter;
}

.buttonText {
    color: #353959 !important;
}

.splitAmount {
    font-size: 1.6rem;
    margin: 0.8rem;
}



.copyright {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    font-style: italic;
}



@media screen and (max-width: 767px) {
    h1 {
        font-size: 36px;
        margin: auto;
    }

    .copyright {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}